/*-------GENERAL STYLES--------*/
body {
    margin:0% /*Enasures site displays to edge of the screen*/
}

/*------H1 ELEMENTS------*/
h1 {
    text-transform: uppercase; /*All H1 elements are capitalized*/
    text-align: center; /*the text is centered*/
    text-decoration: underline; /*unlines the text*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%; /*adds a margin*/
    color: #fff;
}

/*H1 HOVER EFFECT*/
h1:hover {
    filter: drop-shadow(5%); /*adds a drop shaow*/
    transform: scale(1.2); /*increases the size when hovererd ove by 1:2 scale*/
    transition: transform 1s; /*transformation lasts 1s*/
}

/*--PORTFOLIO TEXT--*/
.white-text {
    color:#fff;
}

/*-PARAGRAPH STYLING-*/
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    letter-spacing: normal;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

/*--CENTER CLASS--*/
.center {
    text-align: center;
}

/*--ANCHOR ELEMENTS--*/
a {
    color: blue; /*ensures any links are coloured blue*/
}

/*--QUOTATION ELEMENTS--*/
q {
    font-style: italic; /*makes the quotaion italic*/
    font-size: 40px;
    color:deeppink;
}


/*--IMAGE ELEMENTS--*/
img {
    border-radius: 5px; /*slightly rounds the corners of element*/
    max-width: auto;
    height:340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--IMAGE HOVER EFFECTS--*/
img:hover {
    filter:grayscale(10%); /*filters some of image when hovered over*/
    transition: transform 1.5s; /*effect takes 1.5s*/
    transform: scale(1.1);
   
}

/*--MEDIA--*/
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/*--FOOTER ELEMENTS--*/
footer {
    padding: 2%;
    background-color: #fff;
}

footer p {
    color: black;
}

/****NAVBAR STYLING****/
.Navbar {
    overflow: hidden;
    background-color:rgb(168, 87, 245);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation:normal;
    animation: normal;
}

@keyframes moveNav {
    from {left: -100vw;} 
    to {left: 0vw;} 
}

/***NAVBAR LINKS***/
.Navbar a {
    float: left; /*ensures navbar links are to the left*/
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s; /*animation lasts 5.75s*/
}

@keyframes moveNavText {
    from {top: -100vw;} /*Navbar drops from top of screen*/
    to {top: 0vw;}
}

@media screen and (max-width:576px) {
    .Navbar a{
        width:25%;
        font-size:100%;
    }    
}

/***NAVBAR HOVER EFFECT***/
.Navbar a:hover{
    background-color:darkmagenta;
    color: grey;
    font-weight: bolder;
    font-size: 110%;
}

.Navbar a.active{
    background-color: purple;
    color: black;
}

/***VIDEO STYLING***/
#Rebel_Alliance {
    position:fixed; /*fixes video to page */
    right: 0;
    bottom: 0;
    z-index:-1; /*places video behind other elements on screen*/
    min-width: 100%; /*ensures it covers width of page*/
}

@media screen and (max-width: 576px) {
    #Rebel_Alliance {
        display: none;
    }
}

/**TEXT OVER VIDEO**/
.video_text {
    background: rgba(0 , 0 , 0, 0.5);
    color: black;
    width: 100%;
    padding: 20%;
    position: relative; /*sets the text to relative to its normal position*/
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s; /*annimation lasts 5.75s*/
}

@keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}

/***** Slideshow Styling *****/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35); /* This creates a slightly transparent white background that's palced over the video in the background */    
}

.mySlides{
    display: none; /* This prevents the images from being displayed, we will use JS to display these */
}

/* Slideshow container*/
#Slideshow_Container {
    width: 39.5vw; 
    height: auto; 
    padding-top: 4%; 
    position: relative; 
    margin:auto; 
   
}

/* Remove the underline from the previous and next button on slideshow */
#Slideshow_Container a {
    text-decoration: none;
}

/* Images for slideshow */
.Slideshow_Images {
    vertical-align: middle; /* This centers the images in the slideshow container */
    height: auto; /* Adjusts heignt of images in case they are different sizes */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); 
    width: 100%; /* The width of images is automatically adjusted */
}

/* Next and previous buttons */
.Previous, .Next {
    cursor: pointer; /* Changes the mouse to a pointer when the buttons are selected */
    position: absolute;
    top: 50%; /* This moves the buttons up in the slideshow container */
    width: auto; 
    padding: 2vw; /* Adds padding equal to 2% of viewport width */
    color: darkgray; 
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; 
    user-select: none; /* This property makes it so that the user can't highlight text */
    transition: 0.6s ease; 
}

/* Positioning the next button */
.Next {
    right: 0; /* This moves the next button to the right side of the slideshow container */
    border-radius: 3px 0 0 3px; 
}

/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Makes the background of the arrows a transparent gray color */
    color: white; /* Makes the arrows white when hovered over */
}

/* Slideshow text */
.text {
    color: white; 
    padding: 1vw;
    position: absolute; /* This ensures the text is positioned within the image */
    bottom: 0; /* This sets the text at the bottom of the image */
    width: 100%; 
    text-align: center; /* The text is centered within the image */
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; /* This gives spacing between the letters */
    font-size: 1.5vw; 
    background-color: rgba(0, 0, 0, 0.75); 
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; 
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer; /* The cursor changes to pointer when hovered over the dots */
    height: 1vw; /* The dots are sized relative to the viewport width */
    width: 1vw;
    margin: .25vw; 
    background-color: white; 
    border-radius: 50%; /* Rounds all corners to make them dots */
    display: inline-block; /* Puts the dots inline */
    transition: background-color 0.6s ease; /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1; /* This ensures the dots will be displayed above any other elements */
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black; 
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade; 
    animation-duration: 1.5s; /* The animation lasts 1.5s */
    -webkit-animation-name: fade; 
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}
/***** End Slideshow Styling *****/


/***Table Stylings***/
* {
    box-sizing: border-box; /*Creates a box with a border to place text*/
    box-shadow: inset;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 2%;
    height:400px;
    background-color: darkmagenta; /*Sets colour of left column*/
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 2%;
    height: 400px;
    background-color: darkorchid;
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
    content: ""; /*Leaving this blank allows the footer to be diplayed*/
    display: table;
    clear: both; /*Clears elements from floating on left or right of other elements*/
}

/*****End of Table Styling*****/


/***** Contact Form Styling *****/
/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    position: fixed; 
    bottom: 1.75vw; 
    right: 1.75vw; 
    width: 20vw; 
    padding: 3;
    background-color: plum; 
    color: white;
    border: solid black; /* This makes a solid black border around the button */
    border-radius: 25px;
    cursor: pointer; /* This changes the cursor when hovered over the button to a pointer */
    -webkit-animation: movePopup 5s; 
    animation: movePopup 5s; /* Animation is for 5s */
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup {
    z-index: 8; /* This ensures the contact form shows above all other elements on the page */
    display: none; 
    position: fixed; 
    bottom: .5vw; 
    right: .5vw; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

/* Form styling */
.form-container {
    max-width: 49vw; /* Makes container 49% of the viewport width */
    padding: 1vw; 
    border-radius: 25px;
    background-color: white; 
}

/* Input fields */
.form-container input[type=text] {
    width: 100%; /* Completely fills the width of the form-container */
    padding: .93vw; 
    margin: .6vw 0 .6vw 0; 
    border: none; /* Removes the border from the input boxes */
    border-radius: 25px;
    background: plum; 
    font-size: 1vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* General styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; /* Adds spacing between the letters */
    font-size: 1.5vw; 
    font-weight: bold; 
    padding: 1.5vw; 
    cursor: pointer; /* Changes the cursor to pointer over button elements */
    width: 100%; 
    height: auto; /* Allows height to be resized depending on the content showing */
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: black; 
    background-color: plum; 
    transition-duration: 1s; /* This makes the transition last 1s */
    -webkit-transition-duration: 1s; 
    border-color: silver; /*Makes border silver when hovered over*/
}

/* Submit button */
.form-container .btn {
    background-color: purple; 
    color: white;
    border-color: black;
    border-radius: 25px;
    margin-bottom: 1vh;
}

/* Close button */
.form-container .cancel {
    background-color: rgb(175, 99, 162);
    color:white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: black;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

